* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle at center, #cad7f7, #ffffff);
}

.topBar {
  height: 6rem;
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: url("/water.jpeg");
  background-size: cover;
}

.topBar h1 {
  text-align: center;
  color: #fff;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 24px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #88ab8e;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  text-decoration: none;
}

/* Styling of overlay */
/* .bm-overlay {
  background: rgba(245, 241, 241, 0.05);
} */

.heading {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

main {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.welcomeMessage h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

.welcomeMessage p {
  text-align: center;
}

.australiaHomePageImage {
  width: 40%;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-control {
  width: 40rem;
}

.daysSection {
  margin-top: 3rem;
}

.daysSection button {
  width: 7rem;
  height: 3rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  cursor: pointer;
}

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  place-items: center;
}

.all {
  width: 100% !important;
  margin-bottom: 2rem;
}

.nextButton {
  margin-left: 50%;
  transform: translate(-50%);
}

.availableJobs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.availableJob {
  display: grid;
  grid-template-columns: 25rem 5rem 5rem 4rem 20rem 5rem 2rem;
  gap: 1rem;
  align-items: center;
}

.availableJob p {
  font-weight: bold;
  text-align: center;
}

.availableJob input {
  padding-left: 1rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
}

.deleteIcon {
  font-size: 1.5rem;
  cursor: pointer;
}

.rowContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 0.75rem;
}

.rowContainer p {
  margin-top: 1rem;
}

.anyJob {
  margin-bottom: 2rem;
}

.definiteButton {
  background-color: #fff;
  border: none;
  outline: none;
  padding: 0 1rem;
  border-radius: 0.5rem;
  margin-left: 1.5rem;
  cursor: pointer;
}

.jobAllocation h3 {
  text-align: center;
  margin-bottom: 2rem;
}

.jobAllocation .rowContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.group .container {
  width: 15rem;
  height: 8rem;
  background-color: #fff;
  -webkit-box-shadow: 16px 16px 29px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 16px 16px 29px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 16px 16px 29px 0px rgba(0, 0, 0, 0.08);
  border-radius: 1rem;
}

.columnContainer {
  display: flex;
  flex-direction: column;
}

.jobAllocation .rowContainer {
  margin-bottom: 4rem;
}
